gobraServer.log
node_modules/
out/
evaluationResultsCARBON.txt
evaluationResultsCARBONserverMode.txt
evaluationResultsSILICON.txt
evaluationResultsSILICONserverMode.txt
evaluationResults.txt
evaluationFiles/