.nyc_output
.gitignore
codecov.yml
coverage/
evaluationResults.txt
package-lock.json
package-notes.md
report.csv
tsconfig.json
webpack.config.js
.npm/
.vscode/
.vscode-test/
images/
!images/icon.png
node_modules/
src/
tmp/
typings/
**/*.js.map
**/*.log
